body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: black;
}

.job-container {
    margin: 50px auto;
}

#job {
    width: 400px;
    cursor: pointer;
}

.info {
    margin-top: 20px;
}

.text {
    color: #ff9292;
    font-size: 30px;
}

.job-container {
    margin: 50px auto;
    position: relative;
    animation: jobAnimation 3s ease-in-out infinite;
}

@keyframes jobAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}


